


<div class="navbar">
                <div class="logo">
                    {% load static %}
                    <img src="{% static "RedStore_Img/images/logo-white.jfif" %}" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/registration">Account</a></li>
                    </ul>

                </nav>
                {% load static %}
                <img src="{% static "RedStore_Img/images/cart.png" %}" width="30px" height="30px" >
                {% load static %}
                <img src="{% static "RedStore_Img/images/menu.png" %}" class="menu-icon" onclick="menutoggle()">

            </div>
