<div class="navbar">
                <div class="logo">
                    {% load static %}
                    <img src="{% static "RedStore_Img/images/logo-white.jfif" %}" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/products">Products</a></li>
                        {% if uname != '' %}
                        <li><a href="/account">{{ uname }}</a></li>
                        <li><form action="/logout"><button type="submit">Log Out</button>
                        {% else %}
                        <li><a href="/auth">Login/Sign Up</a></li>
                        {% endif %}
                        </form></li>
                    </ul>

                </nav>
                
                {% load static %}
                <a href="/cart"><img src="{% static "RedStore_Img/images/cart.png" %}" width="30px" height="30px" ></a>
                {% load static %}
                <img src="{% static "RedStore_Img/images/menu.png" %}" class="menu-icon" onclick="menutoggle()">

            </div>
